<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <div class="header">
    <h1>AW-RPC</h1>
      <h2></h2>
    <p>Front end to aw-rpc</p>
    <p>Player One: {{p1}} Player Two: {{p2}}</p>
    <!-- link to JSONRPC API doc -->
    <a href="/api/browse" target="_blank" >Browse API</a>
    </div>
  </head>
  <body>
    <!-- create unit modal -->
    <div id="modalcreate" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <select id="selectcreate">
        </select>
        <button type="button" id="buttoncreate">Create unit</button>
      </div>
    </div>
  <!-- table to hold game board and game info -->
    <table>
      <tr>
        <th>Game:  {{token}} </th>
      </tr>
        <tr>
            <td style="vertical-align: top">
                <div id="draw" x-token="{{token}}"></div>
                <div id="infobox"></div>
            </td>
            <td style="vertical-align: top">
                <div id="gamebox">
                </div>
                <hr>
                <div id="showbox">
                <input type="checkbox" id="inputshowmap" checked>Show Map</button>
                <input type="checkbox" id="inputshowchat" checked>Show Chat</button>
                <input type="checkbox" id="inputshowjson" checked>Show JSON</button>
                </div>
                <hr>
                <div id="controls">
                <button class="buttonendturn" onclick="armyEndTurn();">End Turn</button>
                <button class="buttonendgame" onclick="endGame();">End Game</button>
                <button class="buttonrerender" onclick="rerender();">Re-render</button>
                </div>
                <hr/>
                <div id="chatbox">
                <textarea id="textareachat" rows="10" cols="40"></textarea>
                <button type="button" id="buttonchat">Chat</button>
                <input type="text" id="inputchat"></input>
                </div>
                <div id="jsonbox">
                <textarea id="code" rows="10" cols="40"></textarea>
                </div>
            </td>
        </tr>
    </table>
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/static/js/two.min.js"></script>
    <script src="/static/js/render.js"></script>
  </body>
</html>
